@tailwind base;
@tailwind components;
@tailwind utilities;
.msg {
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
}
.msg .bubble {
  float: left;
  max-width: 75%;
  width: auto;
  height: auto;
  display: block;
  background: #ebebeb;
  border-radius: 5px;
  position: relative;
  margin: 10px 0 3px 10px;
  box-shadow: 0 2px 1px rgb(0 0 0 / 20%);
  padding: 8px 0 8px 0;
}
.msg.replies .bubble {
  margin: 10px 10px 3px 0;
  background: #dcf8c6;
  float: right;
}
.msg .bubble .txt {
  padding: 0 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.msg .bubble .txt .name {
  font-weight: 600;
  font-size: 14px;
  display: inline-table;
  padding: 0 0 0 15px;
  margin: 0 0 4px 0;
  color: #3498db;
}
.msg .bubble .txt .name span {
  font-weight: normal;
  color: #b3b3b3;
  overflow: hidden;
}
.msg.replies .bubble .txt .name {
  color: #2ecc51;
}
.msg .bubble .message {
  font-size: 14px;
  font-weight: 500;
  padding: 0 15px 0 15px;
  margin: auto;
  color: #2b2b2b;
  display: table;
}
.msg .bubble .txt .timestamp {
  font-size: 11px;
  text-transform: uppercase;
  color: #999;
}
.msg .bubble i.msgdown {
  color: var(--tkd2);
  font-size: 16px;
  display: none;
}
.msg:hover .bubble i.msgdown {
  display: block;
}
.msg .bubble .bubble-arrow {
  position: absolute;
  float: left;
  left: -11px;
  top: 0;
}
.msg.replies .bubble .bubble-arrow {
  bottom: 20px;
  left: auto;
  right: 4px;
  float: right;
}
.msg .bubble .bubble-arrow:after {
  content: "";
  position: absolute;
  border-top: 15px solid #ebebeb;
  border-left: 15px solid transparent;
  border-radius: 4px 0 0 0;
  width: 0;
  height: 0;
}
.msg.replies .bubble .bubble-arrow:after {
  border-top: 15px solid #dcf8c6;
  transform: scaleX(-1);
}
.msg .bubble .txt i.msgstar {
  font-size: 13px;
  color: var(--tkd1);
}